html {
  margin: 0;
  padding: 0;
  border-top: #ef873e 3px solid;
  background-color: black;
  min-height: 100vh;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: white;
  text-align: center;
}
header,
main,
footer {
  max-width: 700px;
  margin: auto;
}
a {
  color: #ef873e;
}
a:hover {
  text-decoration: none;
}
img.responsive {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

main nav a {
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  margin: 8px;
}

a:hover img {
  filter: grayscale(1);
}

img.social {
  height: 38px;
  width: auto;
  margin-right: 8px;
}

footer {
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
}

a[href*="ascap"] img {
  width: 170px;
  height: auto;
  display: block;
  margin: 20px auto;
  filter: hue-rotate(180deg);
}

a[href*="ascap"]:hover img {
  filter: grayscale(1);
}

a[href*="porkchop"] img {
  width: 25px;
  height: auto;
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: block;
}

#showcase {
  margin: 50px 0 30px;
}
